.footer{
    background-color: blue;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
}

span{
    color: wheat;
}

.copy{
    text-align: center;
    position: relative;
    top: 10px;
    color: white;
    margin-left: 40%;
    margin-right: 40%;
}

span{
    margin-left: 10px;
    color: white;  
}

.policy a{      
    color: white;  
    position: relative;
    left: 1200px;
}

.terms a{
    color: white;
    position: relative;
    left: 1200px;
}
