.subColor{
    margin-top: 20px;
    margin-left: 50px;
    background-color: #0061A8;
    border-radius: 10px 10px;
    color: white;
    box-shadow: 10px 20px 50px blue;
}

.element{
    padding: 2px;

}

.myFormBody {
    position: relative;
    top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.myformContainer{
    box-shadow: 5px 10px 20px blue;
        border: 1px solid black;
        padding: 40px;
}

.tab{
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 25%;
    background-color: #77ACF1;
    border: 1px solid black;
    box-shadow: 2px 5px 10px black;
    position: relative;
    left: 50px;
}

td{
    text-align: center;
}
th{
    text-align: center;
}