.myFormBody {
    position: relative;
    top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.myformContainer{
    box-shadow: 5px 10px 20px blue;
        border: 1px solid black;
        padding: 50px;
}


.radioo {
    background-color: #77ACF1;
    margin-left: 50px;
    padding: 5px;
    font-size: larger;
    box-shadow: 5px 6px 10px blue;
    border: 1px solid white;
}


.place{
    margin-top: 25px;
    padding: 5px;
}

.place span{
    margin-left: 50px;
}

.calander {
    margin-top: 25px;
}

.calanderdes{
    background-color: #77ACF1; 
    color: white; 
    padding: 3px;
    margin-left: 3px;
    border-color: white;
    box-shadow: 5px 6px 10px blue;
}
 
.subColor{
    margin-top: 40px;
    margin-left: 50px;
    background-color: #0061A8;
    border-radius: 10px 10px;
    color: white;
    box-shadow: 10px 20px 50px blue;
}

