<div class="mainContainer">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav innerNavBar">
        <a class="nav-item nav-link active" routerLink="add-airline">Add Airline<span
            class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="manage-flight">Manage Schedules</a>
        <a class="nav-item nav-link" routerLink="manage-scheduled-flight">Manage Schedules Flights</a>
        <a class="nav-item nav-link" routerLink="manage-discount">Manage Discounts</a>
        <a class="nav-item nav-link" routerLink="reports">Flight-Reports</a>
        <a class="nav-item nav-link" routerLink="user-reports">User-Reports (Kafka)</a>
        <a class="nav-item nav-link" (click)="logout()"> LogOut </a>
      </div>
    </div>
  </nav>
</div>