  
.form-container{
    margin-left: 30%;
    margin-right: 30%;
    position: relative;
     top: 10%;
}
    
.form-body{
    box-shadow: 5px 10px 20px blue;
    border: 1px solid black;
    opacity: 50;
    padding: 45px;
}
    
.subColor{
    margin-left: 45%;
    background-color: #0061A8;
    border-radius: 5px 5px;
    color: white;
    box-shadow: 5px 10px 20px black;
    margin-top: 15px;
}
.whiteBox{
    background-color: #77ACF1;
    color: white;
    box-shadow: 5px 2px 10px blue;
}

.error{
    color: red;
    font-size: medium;
    position: relative;
    top: 5px;
    left: 10PX;
}