<div class="myFormBody">
    <div class="myformContainer">
        <h3 *ngIf="isAdded" style="color: green; font-weight: 800;">Flight Scheduled</h3>
        <h3 *ngIf="isAlreadyAvailable" style="color: red; font-weight: 800;">Discount Already Available</h3>
        <form [formGroup]="flightManageForm">

            <div class="element" style="padding: 5px;">
                <label style="padding-right: 20px;">Airline Name</label>
                <select formControlName="airlineName" style="padding: 2px;">
                    <option [ngValue]="null" disabled selected >Choose Airline</option>
                    <option *ngFor="let airline of airlineList" [ngValue]="airline">
                        {{airline}}
                    </option>
                </select>
            </div>

            <div class="element">
                <label style="padding-right: 20px;">Flight Number</label>
                <input type="text" formControlName="flightNumber" placeholder="Enter Flight Number">
            </div>
            <div class="element">
                <label style="padding-right: 20px;">From</label>
                <input type="text" formControlName="from" placeholder="Enter Source Location">
            </div>
            <div class="element">
                <label style="padding-right: 20px;">To</label>
                <input type="text" formControlName="to" placeholder="Enter Destination Location">
            </div>
            <div class="element">
                <label style="padding-right: 20px;">Ticket Price (₹)</label>
                <input type="text" formControlName="price" placeholder="Enter Price">
            </div>
            <div class="element">
                <label style="padding-right: 20px;">Depature Date</label>
                <input type="date" formControlName="arivalDate" placeholder="Enter Depature Date">
            </div>
            <div class="element">
                <label style="padding-right: 20px;">Depature Time</label>
                <input type="text" formControlName="dTime" placeholder="Enter Depature Time">
            </div>
            <div class="element">
                <label style="padding-right: 20px;">Arrival Date</label>
                <input type="date" formControlName="depatureDate" placeholder="Enter Arrival Date">
            </div>
            <div class="element">
                <label style="padding-right: 20px;">Arrival Time</label>
                <input type="text" formControlName="aTime" placeholder="Enter Arrival Time">
            </div>
            <div class="element">
                <label style="padding-right: 20px;">Total Seats</label>
                <input type="number" required="required" min="20" max="100" formControlName="totalSeats"
                    placeholder="Seats">
            </div>
            <button type="submit" class="btn btn-info subColor" [disabled]="flightManageForm.invalid"
                (click)="SheduleFlight()">Submit</button>
        </form>
    </div>
</div>