<div class="myFormBody">
    <div class="myformContainer">
        <div class="inner-box">
            <div class="element">
                <label>Name :</label> {{ticketInfo.name}}
            </div>
            <div class="element">
                <label>Email Id :</label> {{ticketInfo.email}}
            </div>
            <div class="element">
                <label>Number Of Passengers :</label> {{ticketInfo.passengersList.length}}
            </div>
            <div *ngFor="let pass of getPassengerList(); let i=index">
                <div class="element">
                    <label>Passenger Name :</label> {{pass.pName}}
                </div>
                <div class="element">
                    <label>Passenger Age :</label> {{pass.age}}
                </div>
            </div>

            <div class="element">
                <label>Trip Type</label> {{tripType}}
            </div>
            <div class="element">
                <label> Billing Ammount :</label> <span style="color: red; font-size: large; font-weight: bold;">&nbsp;{{ticketInfo.billingAmmount}}&nbsp;₹
                </span>
            </div>
            <div class="element" style="margin-top: 2px;">
                <label style="padding-right: 10px;">Enter Card Details</label>
                <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX"><br>
                <label style="padding-right: 10px;">Enter CVV</label>
                <input type="text" placeholder="XXX">
                <label style="padding-right: 10px; margin-left: 10px; padding-right: 10px;">Enter Expire Date</label>
                <input type="text" placeholder="MM/YY">
            </div>
            <br>
            <button type="button" class="btn btn-info subColor" (click)="payment()">Click Here to Pay the Amount
                {{ticketInfo.billingAmmount}} ₹ </button>
        </div>
    </div>
</div>