.header{
    background-color: #96BAFF; 
    padding-top: 0px; 
    padding-bottom: 0px;
    margin-top: 5px;
    border-radius: 10px 10px 0px 0px;
}

a{
    color: wheat;
    box-shadow: 2px 5px 6px white;
    background-color: #185ADB;
    border-radius: 10px 10px;
    margin-left: 7px;
}

.move-left {
    margin-left: 70%;
}

.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 500px;
    color: #31326F;
    box-shadow: 30px 15px 15px white;
    position: relative;
    top: 10px;
}