
  .mainContainer{
    background-color: black; 
    position: relative; 
    top: 10px; 
    padding: 2px;
  }

  .innerNavBar{
    position: relative;
    top: 20px;
    left: 15%;
  }

  a{
    margin-left: 150px;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: medium;
  }

  a:hover {
    background-color: #0061A8;
    border-radius: 8px 8px;
  }