.myFormBody {
    position: relative;
    top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.myformContainer{
    box-shadow: 5px 10px 20px blue;
        border: 1px solid black;
        padding: 50px;
}

.subColor{
    background-color: #0061A8;
    margin-top: 4px;
    border-radius: 10px 10px;
    color: white;
    box-shadow: 10px 20px 50px blue;
}

.inner-box{
    background-color: #77ACF1;
    color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 10px 20px 20px blue;
    border-radius: 5px 5px;

}